
#footer {
  background-image: url(../assets/footer/footer-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  overflow: hidden;
}

@media (width >= 80em) {

  #footer {
    background-image: url(../assets/footer/footer.png);
    background-repeat: no-repeat;
    background-size: cover
  }
}