#kit-items {
  margin-top: 65px;
  margin-bottom: 88px;

  #things {
    position: relative;

    width: 375px;
    height: 319px;
    
    .shine {
      position: absolute;

      top: 12vh;
      left: 17vh;

      width: 120px;
      height: 145px;

      box-shadow: 0px 0px 200px var(--pink-dark);
      transition: 0.5s;
    }

    & img.purple {
     

      margin-top: 50px;

      position: absolute;
      left: 13.5vh;

      width: 157.189px;
      height: 207.677px;

      z-index: 1;
    }

    & img.mark1 {
      opacity: 0;

      position: absolute;
      left: 22vh;
      top: -9vh;

      width: 65px;
      height: 436px;

      z-index: -2;
      transition: 0.5s;
    }

    & img.mark2 {
      opacity: 0;

      position: absolute;
      left: 22vh;
      top: -9vh;

      width: 65px;
      height: 436px;

      z-index: -1;
      transition: 0.5s;
    }

    & img.pin {
      opacity: 0;

      position: absolute;
      left: 22vh;
      top: 14vh;

      width: 74.887px;
      height: 85.405px;

      z-index: -1;
      transition: 0.5s;
    }

    & img.arrow1 {
      opacity: 0;

      position: absolute;
      left: 18vh;
      top: 10vh;

     
      z-index: -1;
      transition: 0.5s;
    }

    & img.arrow2 {
      opacity: 0;

      position: absolute;
      left: 20vh;
      top: 20vh;

      z-index: -1;
      transition: 0.5s;
    }

    & img.arrow3 {
      opacity: 0;

      position: absolute;
      left: 20vh;
      top: 15vh;

      z-index: -1;
      transition: 0.5s;
    }

    & p {
      opacity: 0;

      position: absolute;

      font: 400 10px var(--ff);
      color: var(--text-body);

      z-index: -1;
      transition: 0.5s;
    }

    & p.write1{
      top: 12vh;
      left: 18vh;
    }

    & p.write2 {
      top: 26vh;
      left: 20vh;
    }

    & p.write3 {
      top: 30vh;
      left: 17vh;
    }
    
  }
}

/* --------- HOVER -------- */

#kit-items:hover {
  & #things {

    .shine {
      box-shadow: 0px 0px 200px #da69f1;
    }

    & img.mark1 {
      opacity: 100%;

      transform: rotate(22deg);

      left: 37vh;
      top: -8.5vh;
    }

    & img.mark2 {
      opacity: 100%;

      transform: rotate(12deg);

      left: 32vh;
      top: -13vh;
    }

    & img.pin {
      opacity: 100%;
      transition: 0.5s;
      transform: rotate(-7deg);

      left: 7vh;
      top: 27.5vh;
    }

    & img.arrow1 {
      opacity: 100%;
      top: 5.5vh;
      left: 7vh;
    }

    & img.arrow2 {
      opacity: 100%;
      top: 24vh;
      left: 5vh;
    }

    & img.arrow3 {
      opacity: 100%;
      top: 31vh;
      left: 36vh;
    }

    & p.write1 {
      opacity: 100%;
      top: 3vh;
      left: 3vh;
    }

    & p.write2 {
      opacity: 100%;
      top: 21.5vh;
      left: 3vh;
    }

    & p.write3 {
      opacity: 100%;
      top: 39vh;
      left: 29.5vh;
    }
  }
}