
@media (width >= 80em) {
  #kit-items {
    margin-top: 88px;
    margin-bottom: 278px;

    #things {

      width: 1440px;
      height: 920px;
      
      .shine {

        top: 25vh;
        left: 67vh;

        width: 400px;
        height: 480px;

        box-shadow: 0px 0px 1500px var(--pink-dark);
      }

      & img.purple {
        margin-top: 134px;

        left: 60vh;

        width: 467px;
        height: 617px;
      }

      & img.mark1 {
        left: 89vh;
        top: 19vh;

        width: auto;
        height: auto;

      }

      & img.mark2 {
        left: 89vh;
        top: 19vh;

        width: auto;
        height: auto;
      }

      & img.pin {
        left: 65vh;
        top: 60vh;

        width: 222px;
        height: 254px;
      }

      & img.arrow1 {
        width: 174.5px;
        height: 30px;

        left: 68vh;
        top: 40vh;
      }

      & img.arrow2 {
        width: 104.852px;
        height: 127px;

        left: 68vh;
        top: 55vh;
      }

      & img.arrow3 {
        width: 145.453px;
        height: 151.5px;

        left: 90vh;
        top: 65vh;
      }

      & p {
        font: 400 16px/22.4px var(--ff);
        color: var(--text-body);
      }

      & p.write1{
        top: 40vh;
        left: 70vh;
      }

      & p.write2 {
        top: 50vh;
        left: 70vh;
      }

      & p.write3 {
        left: 85vh;
        top: 85vh;
      }
      
    }
  }

  /* --------- HOVER -------- */

  #kit-items:hover {
    & #things {

      .shine {
        box-shadow: 0px 0px 1500px #da69f1a5;
      }

      & img.mark1 {
        left: 127vh;
        top: 19vh;
      }

      & img.mark2 {
        left: 112vh;
        top: 5vh;
      }

      & img.pin {
        left: 42vh;
        top: 75.5vh;
      }

      & img.arrow1 {
        left: 44vh;
        top: 15vh;
      }

      & img.arrow2 {
        left: 36vh;
        top: 65vh;
      }

      & img.arrow3 {

        left: 126vh;
        top: 88vh;
      }

      & p.write1 {
        top: 10vh;
        left: 36vh;
      }

      & p.write2 {
        top: 60vh;
        left: 34vh;
      }

      & p.write3 {

        left: 116vh;
        top: 109vh;
      }
    }
  }
}