
@media (width >= 80em) {
  #kit-items {
    margin-top: 5.5rem;
    margin-bottom: 17.375rem;

    #things {

      width: 90rem;
      height: 57.5rem;
      
      .shine {

        top: 25vh;
        left: 67vh;

        width: 25rem;
        height: 30rem;

        box-shadow: 0px 0px 1500px var(--pink-dark);
      }

      & img.purple {
        margin-top: 8.375rem;

        left: 60vh;

        width: 29.1875rem;
        height: 38.5625rem;
      }

      & img.mark1 {
        left: 89vh;
        top: 19vh;

        width: auto;
        height: auto;

      }

      & img.mark2 {
        left: 89vh;
        top: 19vh;

        width: auto;
        height: auto;
      }

      & img.pin {
        left: 65vh;
        top: 60vh;

        width: 13.875rem;
        height: 15.875rem;
      }

      & img.arrow1 {
        width: 10.9063rem;
        height: 1.875rem;

        left: 68vh;
        top: 40vh;
      }

      & img.arrow2 {
        width: 6.5533rem;
        height: 7.9375rem;

        left: 68vh;
        top: 55vh;
      }

      & img.arrow3 {
        width: 9.0908rem;
        height: 9.4688rem;

        left: 90vh;
        top: 65vh;
      }

      & p {
        font: 400 1rem/1.4rem var(--ff);
        color: var(--text-body);
      }

      & p.write1{
        top: 40vh;
        left: 70vh;
      }

      & p.write2 {
        top: 50vh;
        left: 70vh;
      }

      & p.write3 {
        left: 85vh;
        top: 85vh;
      }
      
    }
  }

  /* --------- HOVER -------- */

  #kit-items:hover {
    & #things {

      .shine {
        box-shadow: 0px 0px 1500px #da69f1a5;
      }

      & img.mark1 {
        left: 127vh;
        top: 19vh;
      }

      & img.mark2 {
        left: 112vh;
        top: 5vh;
      }

      & img.pin {
        left: 42vh;
        top: 75.5vh;
      }

      & img.arrow1 {
        left: 44vh;
        top: 15vh;
      }

      & img.arrow2 {
        left: 36vh;
        top: 65vh;
      }

      & img.arrow3 {

        left: 126vh;
        top: 88vh;
      }

      & p.write1 {
        top: 10vh;
        left: 36vh;
      }

      & p.write2 {
        top: 60vh;
        left: 34vh;
      }

      & p.write3 {

        left: 116vh;
        top: 109vh;
      }
    }
  }
}