
#kit {

  #writeone {
    margin-top: 8.125rem;
    margin-bottom: 0.5rem;

    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    & img {
      width: 2.8125rem;
      height: 2.8125rem;
    }

    & h2 {
      font: var(--title-sm);
      color: var(--text-body);
    }
  }

  #writetwo {
    & p {
      justify-content: center;
      text-align: center;

      font: var(--body-lg);
      color: var(--text-body);

    }
  }
}
