
@media (width >= 80em) {

  #pre {
    & h2 {
      margin-bottom: 56px;
    }
  }

  #pricing {
    margin: 194px 195px 380px;
    background-image: url(../assets/pricing/bg-price.png);
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover;

    #cards {

      position: relative;
      margin-top: 82px;

      width: 1050px;
      height: 606px;

      overflow-x: hidden;
      gap: 0px;

      padding-top: 82px;
      padding-inline: 0px;

      /* BLUE */
      .cardBlue {
        min-width: 0%;
      }
  
      /* PINK */
      .cardPink {
        min-width: 0%;
      }

    }
  }
  
  /* SEPARATED */

  #card-one {
    position: absolute;
    z-index: 1;

    left: 49vh;

    & h4 {
      margin-bottom: 85px;
    }
  
    & button {
      padding-inline: 53.5px;
    }

    
  }
  
  #card-three {
    position: absolute;
    z-index: 1;

    left: 49vh;

    & h4 {
      margin-bottom: 27px;
    }
  
    & button {
      padding-inline: 59px;
    }
  }

  /* central */
  #card-two {
    position: absolute;
    z-index: 2;

    left: 49vh;
  }

}

/* --- HOVER --- */

#cards:hover {
  #card-one {
    left: 20vh;

    transform: rotate(-1deg);
  }
}